<ul>
  <li> <%= "Genre: #{@movie_details[0]["genre"]}" %> </li>
  <br>
  <li> <%= "Studio: #{@movie_details[0]["studio"]}" %> </li>
</ul>

<%@movie_actors.each do |actor| %>
<ul>
<li>
<a href="/actors/<%="#{actor["id"]}"%>"><%= "#{actor["name"]}" %></a>
<br>
<%= "As \"#{actor["character"]}\"" %>

</li>
</ul>
<% end %>

